<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>links}}
    <link rel="stylesheet" href="/css/index.css">
    <title>Home | Shopt</title>
</head>
<body>
    {{>header}}
    <main>
        <div class="logo">
            <h1>Shopt.</h1>
            <p>Your final stop for amazing shopping with attractive discounts.</p>
        </div>
    </main>
    {{>footer}}
</body>
</html>