<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{>links}}
   <link rel="stylesheet" href="/css/men.css">

    <title>Woman | Shopt</title>
</head>
<body>
     {{>header}}
    <main>
        {{!-- Filters --}}
        <aside>
            <div class="label">
                <h1>
                Filters
                </h1>
            <a href="#">Clear All</a>
            </div>
            {{!-- List --}}
            <div>
                <ul>
                    <li>
                        <div class="sub_categories">
                            <p>Sizes</p> <span id="sizes_collapse">+</span>
                        </div>
                        <ul class="sizes hidden">
                            <li><a href="#">X</a></li>
                            <li><a href="#">M</a></li>
                            <li><a href="#">L</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="sub_categories">
                            <p>Color</p> <span id="colors_collapse">+</span>
                        </div>
                        <ul class="colors hidden">
                            <li><a class="box white"></a></li>
                            <li><a class="box black"></a></li>
                            <li><a class="box olive"></a></li>
                            <li><a class="box grey"></a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="sub_categories">
                            <p>Sort By</p> <span id="sort_by_collapse">+</span>
                        </div>
                        <ul class="sort_by hidden">
                            <li><a href="">Popular</a></li>
                            <li><a href="">New</a></li>
                            <li><a href="">Price: Low to High</a></li>
                            <li><a href="">Price: High to Low</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </aside>
        {{!-- Item list --}}
        <section>
            <div class="title">
                <h1>Menswear</h1>
                <p>Showing (1300) results</p>
            </div>
            <div class="sub_wears">
                <ul>
                    <li><a href="#">Topwear</a></li>
                    <li><a href="#">Bottomwear</a></li>
                    <li><a href="#">Footwear</a></li>

                </ul>
            </div>
            {{>card}}
        </section>
        
        
    </main>
    {{>footer}}

    <script src="/js/filters.js"></script>r

</body>
</html>