<div class="card">
            <div class="img">
                <img src="/img/me.png" alt="Chetan Waghade">
            </div>
            <div class="description">
                <h3>Sexy Boi</h3>
                <p>Price : 345$</p>
            </div>
            <div class="controls">
                <div class="quantity">
                    <button>-</button>
                    <span>1</span>
                    <button>+</button>
                </div>
                <div class="actions">
                    <button>Add</button>
                </div>
            </div>
</div>