<div class="card">
            <div class="img">
                <img src="{{item.item_image_url}}" alt="Chetan Waghade">
            </div>
            <div class="description">
                <h3>{{item.item_name}}</h3>
                <p>{{item.item_price}}</p>
            </div>
            <div class="controls">
                <div class="quantity">
                    <button>-</button>
                    <span>1</span>
                    <button>+</button>
                </div>
                <div class="actions">
                    <button>Add +</button>
                </div>
            </div>
</div>