<header>
    <nav>

        <ul>
            <li>
                <b><a href="/">Shopt</a></b>
            </li>
        </ul>

        <ul>
            <li>
                <a class="main_menu" href="/men">MEN</a>
                <ul >
                    <li><a href="/men/topwear">Topwear</a></li>
                    <li><a href="/men/bottomwear">Bottomwear</a></li>
                    <li><a href="/men/footwear">Footwear</a></li>
                </ul>
            
            </li>
            <li>
                <a class="main_menu" href="/woman">WOMEN</a>
                <ul >
                    <li><a href="/woman/topwear">Topwear</a></li>
                    <li><a href="/woman/bottomwear">Bottomwear</a></li>
                    <li><a href="/woman/footwear">Footwear</a></li>
                </ul>
                </li>
            <li>
                <a class="main_menu" href="/kids">KIDS</a>
                <ul >
                    <li><a href="/kids/topwear">Topwear</a></li>
                    <li><a href="/kids/bottomwear">Bottomwear</a></li>
                    <li><a href="/kids/footwear">Footwear</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav_cart">
            <li><a href="/cart">Cart</a></li>
        </ul>
    </nav>
</header>