<header>
    <nav>

        <ul>
            <li>
                <h3><a href="/">Shopt</a></h3>
            </li>
        </ul>

        <ul>
            <li>
                <a class="main_menu" href="/men">MEN</a>
                
            
            </li>
            <li>
                <a class="main_menu" href="/woman">WOMEN</a>
                
                </li>
            <li>
                <a class="main_menu" href="/kids">KIDS</a>
                
            </li>
        </ul>
        <ul class="nav_cart">
            <li><a href="/cart"> <span><i class="fas fa-shopping-bag" style="color: #355834; margin-right:.2rem;"></i></span> Cart</a></li>
            <li><a href="/cart"> <span><i class="fas fa-log-out" style="color: #355834; margin-right:.2rem;"></i></span> Logout</a></li>
        </ul>
    </nav>
</header>