<div class="background-login-modal">
    <div class="login-modal">
    <div>
        <p class="welcome">Welcome to SHOPT</p>
        <button  id="close_modal"><i class="fas fa-times"></i></button>
    </div>
    <form action="">
        <div class="form-control">
                <input type="text" name="username" id="username" placeholder="Username/email">
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <div class="">
            <input type="submit" value="Login">
        <a href="/forget_password">Forget Password</a>
        </div>
        
        <p>OR</p>
        <div class="sign-up-options">
            <p>Sign Up with</p>
        <div class="social-login">
            <a href="#google"> <span><i class="fab fa-google"></i></span> </a>
        <a href="#google"><span><i class="fab fa-facebook"></i></span></a>
        </div>
        </div>
        
    </form>
</div>
</div>