a{
    text-decoration: none;
}

button{
   font-family: 'Arvo', serif;
   font-size: small;
}


div.card{
    /* width: 14.9vw; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: .5rem;
    border:1px solid  #14281d1a;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    /*box-shadow: .5px .5px 2px 1px rgba(17, 17, 17, 0.123);
    */margin: 1rem 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    cursor: pointer;

}

div.card:hover{
    /* box-shadow: 1px 1px 0 0 #14281D; */
    opacity: 0.8;
}

div.card > div{
    margin-bottom: .5rem;
}

/* Image */

div.img{
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    display: flex;
    justify-content: center;
}

div.img img{
    max-width:100%;
    max-height:100%;
    object-fit: fill;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}



/* Description */
div.description{
    margin: .5rem;
    font-family: 'Arvo', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div.description h3{
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #6E633D;
    font-size: 1rem;
    

}

div.description p{
    color: #14281D;
}

/* Controls */

div.controls {
    margin: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.quantity{
    border:1px solid rgba(128, 128, 128, 0.24);
}

div.quantity button,span{
   width: 2rem;
   height: 100%;
   color:#14281D;
}

div.quantity button{
    border:none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
}

div.quantity button:first-child{
    border-right:1px solid rgba(128, 128, 128, 0.24);
}

div.quantity button:last-child{
    border-left:1px solid rgba(128, 128, 128, 0.24);
}

div.quantity button:hover{
    background-color: #70916f;
}

div.quantity span{
    padding:0 0.5rem;
   
}

div.actions button{
    background-color: #355834;
    color:#F1F5F2;
    padding: .7rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: .1rem;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    -ms-border-radius: .1rem;
    -o-border-radius: .1rem;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

div.actions button:hover{
    background-color: #447042;
}