nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #14281d1a;
}

nav h3{
    color:#355834;
}

/* Main Menu */
nav ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
 
}

nav ul li {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    cursor: pointer;
}

nav ul li a {
    display: inline-block;
    color:#14281D;
    padding: 1rem;
}

nav ul li:hover{
    box-shadow: inset 0 -2px 0 0 #355834;
}