main{
    display: flex;
    justify-content: start;
}


/* Main */

main aside{
    /* border:1px solid purple; */
    flex: 1;
    padding:1rem;
}

main aside .label{
    display: flex;
    justify-content: space-between;
}

.label a{
    margin-top: 0.5rem;
    text-decoration: none;
    color:#323634
}

main aside h1{
    margin-bottom: 1rem;
    font-weight: 300;
}


main aside ul li{
    margin: .5rem 0;
    
}

.separator{
   padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.178);
}

 .sub_categories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
}

.sub_categories p {
    font-size: 1.2rem;
}


.sizes li a{
    display: inline-block;
    color: #323634;
    padding: 0.5rem;
 
}

.sizes li:hover{
    background-color: #35583459;
    cursor: pointer;
    
}

main aside .sub_categories span{
    cursor: pointer;
    font-weight: bold;
    color:#323634;
}

/* Colors */
.colors{
    padding: 0 .5rem;
    display: flex;
    justify-content: flex-start;
}

/* Sub Categories Color boxes */
.box {
    display: inline-block;
    width: 4vh;
    height: 4vh;
    border:1px solid rgba(128, 128, 128, 0.527);
    margin-right: 0.5rem;
    cursor: pointer;
}

.white{
    background-color: white;
}
.black{
    background-color: rgb(0, 0, 0);
}
.olive{
    background-color: olive;
}
.grey{
    background-color: grey;
}

/* Sort By */
.sort_by a{
    display: inline-block;
    color:#323634;
    padding: 0.5rem;
  
}

.sort_by li:hover{
    background-color:    #35583459;
    ;

}

/* Section */

main section{
    /* border:2px solid red; */
    flex: 5;
}

/* Hide option by default */
.hidden{
    display: none;
}


/* Item List */
section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
}



section div.title .short_bottom_border{
    display: inline-block;
    height: 0.2rem;
    width: 2rem;
    background-color: #355834;
   
}


/* Sub_wears */
section .sub_wears ul {
    display: flex;
    justify-content: flex-start;
}



section .sub_wears ul li:not(li:first-child){
    margin-left: 1rem;
}

section .sub_wears ul li{
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    padding: 0.5rem 0;
}

section .sub_wears ul li a{
    color:#323634;
    padding: .5rem 0;
}

section .sub_wears ul li:hover{
   
        box-shadow: inset 0 -2px 0 0 #355834;
  
}

section .sub_wears p{
    margin-top: .5rem;
    color:#32363483
}

section .items-list{
    display: flex;
    justify-content: flex-start;
    gap:2rem;
}

